.formulario div{
    float: right;
    width: -10%;
    box-sizing:border-box;
    padding: 0 15px;
    text-align: center;

}

.iphones h3{ font-size: 25px;
    color: rgb(151, 13, 231);
    font-weight: bold;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    text-align: center;
    background-color: rgb(12, 12, 12);
    padding: 0px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 6px 27px 14px rgb(0 0 0 / 44%);
    box-shadow: 0px 10px 13px -7px #000000, 5px 6px 27px 14px rgb(0 0 0 / 44%);
}

.cadastro h2{
    color: rgb(26, 26, 61);   
}

.formulario{
    background:rgb(115, 161, 30);
    border:rgb(13, 40, 97) solid 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    overflow: hidden  
}
.formulario input[type="email"]{
    outline-style: none;
    width: 20%;
    box-sizing: border-box;
    margin: 10px 0;
    border-radius: 500px;
    border: 0;
    padding: 5px 10px;
    float:left;
    margin-left: 15px;
    
}
.formulario div{
    display: block;
    float: left;
}
.formulario input[type="nome"]{
    width: 20%;
    box-sizing: border-box;
    margin: 10px 0;
    border-radius: 500px;
    border: 0;
    padding: 5px 10px;
    float:left;
    margin-left: 15px;
}

.formulario label{display: block}
.formulario input[type="submit"]{
    width: 20%;
    margin: 20px 10px ;
    display: block;
    background:rgb(26, 61, 58);
    border:0;
    padding: 20px 0;
    border-radius: 200px;
    color:mintcream;
    margin-left: 0px;
    margin-right: 20px


}
.aceite{font-size: 12px; color:rgb(26, 26, 61); font-weight:bold}
.aceite{
    text-align:center;  
    display: inline;
    float: left;  
}

#corpo{
    background: rgb(36, 35, 35);
    padding: 10px 0;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.informacao{
    max-width: 600px;
    overflow: hidden;
    margin: 0 auto;
    color:rgb(126, 27, 27);
    text-align:center
}

.cadastro h2{
    text-align: center;
    margin-bottom: 20px;     
}

.msg-cadastro {
    padding-top: 35px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    display: none;
}

@media (max-width: 496px){
.h1 div{width:100%}
#topo{width:100%}
.logo div{width:100%}
.body{width: 100%}
.info div{width: 100%}
.produtospromo div{width:100%}
.cadastro div{width:100%}
.aceite label{width:100%}
.input{width:100%}
.cad div{width:100%}

}